.footer__text {
    text-align:right;
    margin-right: 10%;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 300;
}

.footer__link {
    text-decoration: none;
    color: #f1d328;
    font-weight: 600;
}


@media(max-width: 600px) {
    .footer__text {
        text-align: center;
    }
}